/*  BENTO */



.gobelets{
  display:block;
  position:absolute;
  top:30px;
  left:168px;
  width:100%;
  height:100%;
  
}

.gobelets .gobelet-cont{
  position:absolute;
  width:176px;
  height:206px;
}

.gobelets .gobelet-cont .ombre{
  position:relative;
  margin-top:15px;
}

.gobelets .g1{
  top:70px;
  left:100px;
}

.gobelets .g2{
  top:100px;
  left:250px;
}

.gobelets .g3{
  top:70px;
  left:400px;
}

.gobelets .gobelet-cont .gobelet{
  position:absolute;
  top:0;
  left:0;
}

.gobelets .gobelet-cont .itemAtrouver{
  position:absolute;
  bottom:2px;
  left:25px;
  display:none;
}

.gobelets .g1 .gobelet{
  top:-0px;

}

.itemAtrouver{
  height: 106px; width:  133px;
}


