/** GENERAL **/
* {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-user-select: none;
}

body {
	background-image:url(../param/img/bg.png);
        background-attachment:fixed;
        background-size:100% 100%;
}
/*  BENTO */

/*
#gobelet1 {
  height: 163px; 
  width: 203px;
}
#gobelet2 {
  height: 163px; 
  width: 203px;
}
#gobelet3 {
  height: 163px; 
  width: 203px;
}
*/
#shield{
    height: 100%;
    width: 100%;
    z-index: 50;
    position: absolute;
    opacity:0;
}

.gobelet {
  height: 200px;
  width: 120px;
}
.gobelets{
  display:none;
  width:100%;
  height:100%;
  
}


.gobelets .gobelet-cont{
  position:absolute;
  /*width:176px;
  height:206px;*/
  width: 15%;
  height: 20%;
}

.gobelets .gobelet-cont .shade{
  position:relative;
  margin-top:15px;
}

.gobelets .g1{
  /*top:70px;
  left:100px;*/
  top: 48%;
  left: 22%;
   margin-right: 20%;
}

.gobelets .g2{
  /*top:100px;
  left:250px;*/
  top: 49%;
  left: 42%;
  
}

.gobelets .g3{
  /*top:70px;
  left:400px;*/
  top: 48%;
  left: 62%;
}

.gobelets .gobelet-cont .gobelet{
  position:absolute;
  top:0;
  left:0;
}

.gobelets .gobelet-cont .itemAtrouver{
  position:absolute;
  bottom:2px;
  left:25px;
  display:none;
}

.gobelets .g1 .gobelet{
  top:-0px;

}

.itemAtrouver{
  height: 50%; 
  width:  70%;
}


#jeu-perdu{
   z-index: 8000;
  display: none;
  margin-top: 5%;
  position: absolute;
  z-index: 10;
  left: 25%;
  text-align: center;
}
#jeu-gagné{
  z-index: 8000;
  display: none;
  left: 25%;
  margin-top: 5%;
  position: absolute;
  z-index: 10;
  text-align: center;
}

.button{
    left: 25%;
    top: 20%;
    height: 50%;
    width: 55%;
    z-index: 8000;
    position: absolute;
    background-image : url(../param/img/play.png);
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
    cursor:pointer;
    border: none;

}

.restart{
    z-index: 8000;
    display: none;
    left: 25%;
    top: 20%;
    height: 50%;
    width: 55%;
    position: absolute;
    background-image : url(../param/img/play.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor:pointer;
    border: none;

}



h1  {
color: #F6F6F6;
font-family: arial, sans-serif;
font-size: 300%;
font-weight: bold;
margin-top: 0%;
margin-bottom: 10%;
}